:root {
  --primary-color: #454ade;
  --secondary-color: #1b1f3b;
  --accent1-color: #b14aed;
  --accent2-color: #c874d9;
  --accent3-color: #e1bbc9;
  font-family: Tahoma, Verdana, sans-serif;
}

/* Placeholder colors for now. */

header {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 10px;
  max-width: 75%;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  text-align: center;
}

img {
  max-width: 100px;
}

img .image-loaded {
  max-width: 100px;
}

.art-container {
  display: grid;
  justify-content: center;

  grid-column-gap: 5%;
  grid-template-columns: repeat(3, auto);
}

.image-unloaded {
  opacity: 0;
  visibility: hidden;
}

.image-loaded {
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.image-hidden {
  opacity: 0;
  display: none;
}

.art-container > img {
  max-width: 100px;
}

#placeholder {
  background-image: url("../images/placeholder2.png");
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.pet-tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3%;
}
.pet-buttons {
  margin: 1rem;
  border: 1px solid;
  padding: 0.5rem;
  background-color: var(--secondary-color);
  /* text-align: center; */
}

.pet-buttons button {
  padding: 5px 10px;
}

/* .pet-cards {
  margin-left: auto;
  margin-right: auto;
} */

.dogcard {
  background-color: var(--accent2-color);
}
.pet-cards > card {
  background-color: var(--accent2-color);
}
footer {
  position: fixed;
  bottom: 0;
  right: 0%;
  left: 0%;

  background-color: var(--accent2-color);
  max-width: fit-content;
  padding: 5px 20px;
  text-align: center;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}
