:root {
  --primary-color: #454ade;
  --secondary-color: #1b1f3b;
  --accent1-color: #b14aed;
  --accent2-color: #c874d9;
  --accent3-color: #e1bbc9;
  font-family: Tahoma, Verdana, sans-serif;
}

/* Placeholder colors for now. */

header {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 10px;
  max-width: 75%;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  text-align: center;
}

.art-container {
  display: grid;
  justify-content: center;

  grid-column-gap: 5%;
  grid-template-columns: repeat(3, auto);
}

.image-unloaded {
  opacity: 0;
  visibility: hidden;
}

.image-loaded {
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.art-container > img {
  max-width: 100px;
}

#placeholder {
  background-image: url("../images/placeholder2.png");
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}
